<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">关于我们</h2>
                <hr class="light">
                <p class="text-faded">熊猫译社成立于 2014 年，是一家专业的文化创意内容翻译服务提供商，服务内容包括但不限于新闻翻译、剧本及字幕翻译、文化论文翻译、营销材料翻译、合同翻译等等。自成立以来，译社已服务的客户包括新闻机构、非营利组织、跨国公司、初创公司、音乐厂牌、公关公司等，译稿质量及可靠的服务均得到了客户的高度赞扬。</p>
                <p class="text-faded">创始人葛仲君自 2008 年起从事商业翻译，国际新闻硕士毕业的他一直是一名优秀的专业新闻译者，而对几乎一切事物所抱有的好奇心，则让他成为了涉猎多个领域的翻译专家。现供职于 Airbnb 中国，担任语言经理。</p>

                <a class="btn btn-default btn-xl page-scroll" href="#contact">业务咨询</a>
            </div>
        </div>
    </div>
</section>
