<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/1.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                媒体
                            </div>
                            <div class="project-name">
                                好奇心日报
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/2.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                媒体
                            </div>
                            <div class="project-name">
                                栩栩华生集团旗下刊物
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/3.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                时尚
                            </div>
                            <div class="project-name">
                                Bottega Veneta
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/4.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                企业
                            </div>
                            <div class="project-name">
                                力拓集团
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/5.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                非营利组织
                            </div>
                            <div class="project-name">
                                比尔及梅琳达盖茨基金会
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/6.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                文创事业
                            </div>
                            <div class="project-name">
                                上海迪士尼乐园及度假区
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/7.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                国际会议
                            </div>
                            <div class="project-name">
                                财富全球论坛
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/8.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                媒体
                            </div>
                            <div class="project-name">
                                商业周刊中文版
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="" class="portfolio-box">
                    <img src="img/portfolio/9.webp" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                文创事业
                            </div>
                            <div class="project-name">
                                摩登天空
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
