<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">我们的优势 ∣ Why Us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>精通文化创意内容</br>Cultural nuances, better handled</h3>
                    <p class="text-muted">擅长处理各种文化创意类材料</br>Transcreation is what we do</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>内部专人审校</br>Two-step process, guaranteed</h3>
                    <p class="text-muted">确保译稿质量，简化编辑工作</br>Quality matters to us, and to you</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>交稿迅速及时</br>Quicker turnaround, no problem</h3>
                    <p class="text-muted">稿件日处理量有保证</br>What you want is what we offer</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>深受客户信赖</br>Word of mouth, verifiable</h3>
                    <p class="text-muted">帮助客户打造精品，是我们的荣幸</br>Deliver the best, for both of us</p>
                </div>
            </div>
        </div>
    </div>
</section>
